* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: lightblue;
}

#score-button {
    background-color: darkblue;
    color: white;
    max-width: 100%;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    text-align:center;
    font-size: 25px;  
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    flex-basis: auto;
}
#return-home-button {
    visibility: hidden;
    background-color: darkblue;
    color: white;
    max-width: 100%;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    text-align:center;
    font-size: 25px;  
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    flex-basis: auto;
}
#start-box {
    visibility: visible;
    background-color: green;
    color: darkblue;
    max-width: 50%;
    /* margin-top: 550px; */
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    text-align:center;
    position: absolute;
    top:10%;
    left: 30%;
    box-shadow: black 0 6px 8px;
    flex-basis: auto;
}
#start-box h1 {
    font-size: 50px;
}
#start-box h2 {
    font-size: 30px;
    color: white;
}
#start-box p {
    font-size: 25px;
    color: black;
}
#start-button {
    visibility: visibile;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    box-shadow: white 0 6px 8px;
    margin-bottom: 15px;
}

#inside-quiz-container {
    visibility: 
    display: flex;
    background-color: green;
    color: darkblue;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    text-align: justify;
    position: absolute;
    top:10%;
    left: 30%;
    box-shadow: black 0 6px 8px;
    flex-basis: auto;
}

#timer-box {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    box-shadow: white 0 6px 8px;
    margin-bottom: 15px;
}
#question h2 {
    padding: 5px;
    text-align: justify;
    margin: 0;
}
#question-list {
    padding: 5px;
    list-style-type: none;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}
#winner-loser {
    color: lightblue;
    font-size: 15px;
}
#score-report-container {
    background-color: green;
    color: darkblue;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    text-align:center;
    position: absolute;
    top:10%;
    left: 30%;
    box-shadow: black 0 6px 8px;
    flex-basis: auto;
}

#initials {
    background-color: white;
    color: black;
}

#final-score-initials-button {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    box-shadow: white 0 6px 8px;
    margin-bottom: 15px;
}

#top-score-container {
    background-color: green;
    color: darkblue;
    max-width: 50%;
    margin: auto;
    padding: 10px; */
    border-radius: 20px;
    text-align:center;
    position: absolute;
    top:10%;
    left: 30%;
    box-shadow: black 0 6px 8px;
    flex-basis: auto;
}

#top-score-container h2 {
    font-size: 50px;
}

#top-score-container li {
    font-size: 36px;
}
/* #score-list {
    background-color: green;
    color: darkblue;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    text-align:center;
    position: absolute;
    top:10%;
    left: 30%;
    box-shadow: black 0 6px 8px;
    flex-basis: auto;
} */

#reset-button {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    box-shadow: white 0 6px 8px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    width: 100%;
    
}