* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: lightblue;
}

#start-container {
    visibility: visible;
}
#start-box {
    background-color: green;
    color: darkblue;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    text-align:center;
    position: absolute;
    top:10%;
    left: 30%;
    box-shadow: black 0 6px 8px;
    flex-basis: auto;
}
#start-box h1 {
    font-size: 50px;
}
#start-box h2 {
    font-size: 30px;
    color: white;
}
#start-box p {
    font-size: 25px;
    color: black;
}
#start-button {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
}
#score-button {
    background-color: darkblue;
    color: white;
    max-width: 100%;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    text-align:center;
    position: absolute;
    top: 70%;
    left: 38%;
    font-size: 30px;  
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    flex-basis: auto;
}

#inside-quiz-container {
    display: none;
    background-color: green;
    color: darkblue;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    text-align:center;
    position: absolute;
    top:10%;
    left: 30%;
    box-shadow: black 0 6px 8px;

}
.question-header {
    padding: 5px;
}
h2 {
    padding: 5px;
    text-align: justify;
    margin: 0;
}
ul {
    padding: 5px;
    list-style-type: none;

}
ul li {
    margin: auto 0;
    font-size: 16px;
}

ul li label {
    cursor: pointer;
}

#ques-next-btn {
    padding: 5px;
    border: none;
    display: block;
    color: black;
    background-color: white;
    width: 100%;
    cursor: pointer;
    font-size: 10px;
}
@media screen and (max-width: 768px) {
    width: 100%;
    
}